body {
    background-image: linear-gradient(to right, #090979 0%, black 100%);
    text-align: center;
    padding: 20px;
  }
  
  h1 {
    color: white;
    text-align: left;
    padding: 20px;
  }

  h2 {
    color: white;
    text-align: left;
    padding: 20px;
  }

  h3 {
    color: white;
    padding: 20px;
  }

  p {
    color: white;
    text-align: left;
    font-size: 20px;
    padding: 20px;
  }
 
