body {
    background-image: linear-gradient(to bottom right, #090979 100%);
    text-align: middle;
    padding: 20px;
  }
  
  h1 {
    color: white;
    text-align: left;
    
  }

  h2 {
    color: white;
    text-align: left;
    padding: 20px;
  }

  h3 {
    color: white;
    padding: 20px;
  }

  p {
    color: white;
    text-align: left;
    font-size: 20px;
    padding: 20px;
  }

  .button {
    color: blue;
    padding: 10px 10px;
    justify-content: flex-end;
    display: flex;
  }
 
