body {
    background-image: linear-gradient(to bottom right, #090979 100%);
    text-align: middle;
    padding: 20px;
  }
  
  /*h1 {
    color: black;
    text-align: left;
    
  }*/

  p {
    color: black;
    text-align: left;
    font-size: 20px;
    padding: 20px;
  }

  p1 {
    color: black;
    text-align: left;
    font-size: 20x;
    padding: 20px;
  }

  .button {
    color: blue;
    padding: 10px 10px;
    justify-content: flex-end;
    display: flex;
  }
 
